@import url(./Style/class.css);

:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --accent: #646cff;
}

*{
  font-weight: 700;
  line-height: 1.6;
  margin:0;
  padding:0;
  font-synthesis: none;
}
/*todo:  the primary are in here 
the class are in the is in the other file
the pseudo element are also in the other file
the animation is also needs to be in the other file
the media query should be on the other file.
*/

body{
  min-height: 100vh;
  overflow: hidden;
  padding: 2.5rem;
  background-color: var(--background-color);
}

